.top{
 display: flex;
     align-items: row; 
     justify-content: space-between;
     /* margin:10px;   */
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:darkred;
}

ul li {
  float: inline-end;
  margin-right: 30px;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.right h4{
  color: darkred;
  text-decoration:underline black ;
    text-decoration-thickness: 5px;
} 
.right{
  line-height: 0.9px;
}

